Package: hsn2-unicorn
Version: {VER}
Section: unknown
Priority: optional
Architecture: all
Maintainer: Pawel Jacewicz <pawel.jacewicz@cert.pl>
Description: HSN2 Object Store query tool
Distribution: {DEBIAN_DIST}
