Source: hsn2-unicorn
Section: java
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), maven
Standards-Version: 3.9.3

Package: hsn2-unicorn
Architecture: all
Depends: ${misc:Depends}, openjdk-7-jre
Homepage: http://www.honeyspider.net
Description: HSN2 command console
 A command line tool for managing the HSN2 job pool and for retrieving
 job status information.